:root {
  --size: 90%;
  --fontSize: 20px;
  --lineH: 26px;
  --colorFT: #271764;
  --colorBG: #E1DCE3;
  --padding: 40px;
  --margin: 50px;
  --fontF: -apple-system,BlinkMacSystemFont,sans-serif;
}


.foo {
  display: block;
  font-size: var(--fontSize);
  font-family: var(--fontF);
  line-height: var(--lineH);
  margin: var(--margin) auto;
  width: var(--size);
  color: var(--colorFT);
  background-color: var(--colorBG);
  padding: var(--padding);
  box-sizing: border-box;
}

@media only screen and (min-width: 64em) {
  .foo {
    --size: 40%;
  --fontSize: 30px;
  --lineH: 36px;
  --colorFT: #242424;
  --colorBG: #E4A824;
  }
}
