@import '_reset';

.cc {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

h2,
h3,
p {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
}

.vm {
	display: inline-block;
	vertical-align: middle;
}

.cc-header {
	font-size: 0;
	width: 100%;
}

.cc-clasificacion,
.cc-puntuacion {
	display: inline-block;
	width: 100%;
	margin: 5px 0;
}

.cc-clasificacion {
	font-size: 50px;
}

.cc-puntuacion {
	font-size: 30px;
}

.cc-colors {
	font-size: 0;
	span {
		font-weight: bold;
	}
}

.cc-background,
.cc-foreground {
	border: 1px solid #111;
	padding: 20px 40px;
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	margin: 10px 0;
	font-size: 16px;
}

.cc-texto {
	font-size: 20px;
	line-height: 26px;
}

.cc1-bg {
	background-color: #FEC845;
}

.cc1-fg {
	color: #65065A;
}

.cc2-bg {
	background-color: #E1DCE3;
}

.cc2-fg {
	color: #271764;
}


@media only screen and (min-width: 48em) {

	.cc-clasificacion,
	.cc-puntuacion {
		width: 50%;
	}

	.cc-background {
		margin-right: 2%;
	}

	.cc-background,
	.cc-foreground {
		width: 49%;
	}

	.cc-puntuacion {
		text-align: right;
		font-size: 60px;
	}

	.cc-clasificacion {
		font-size: 90px;
	}

}
