/* Utiliza custom properties y custom selectors */
:root {
	--fontSG: 46px;
}


h1 {
	font-size: var(--fontSG);
	color: navajowhite;
	margin: 5px;
	&.foo {

	}
}



h3 {
	font-size: 34px;
	color: navajowhite;
	margin: 5px;
}

h4 {
	font-size: 26px;
	color: navajowhite;
	font-weight: bold;
	margin: 5px;
}


p {
	font-size: 20px;
	color: aliceblue;
	font-weight: bold;
}

section {
	background-color: burlywood;
	padding: 20px;
	box-sizing: border-box;
	margin: 10px;
}


article {
	background-color: firebrick;
	margin: 20px;
	padding: 20px;
}
